@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-Regular.woff2') format('woff2'),
        url('SFProDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display Bold';
    src: url('SFProDisplay-Bold.woff2') format('woff2'),
        url('SFProDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  font-family: "Noto Sans Osage";
  font-weight: 700;
}

html {
  font-size: 100%;
} /* 16px */

h1 {
  font-size: 3.366rem; /* 53.92px */
}

h2 {
  font-size: 2.525rem; /* 40.32px */
}

h3 {
  font-size: 1.894rem; /* 30.24px */
}

h4 {
  font-size: 1.421rem; /* 22.72px */
}

h5 {
  font-size: 1.066rem; /* 17.12px */
}

small {
  font-size: 0.6rem; /* 9.6px */
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --text: white;
  --border-color:rgba(255, 255, 255, 0.15);
  --shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  --background-color: rgba(255, 255, 255, 0.1);
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-family: 'SF Pro Display';
    background: linear-gradient(to top,#87CEEB, #4682B4 50%);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

main {
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 32px;
    color: var(--text);
    fill: var(--text);
}

.header {
    display: flex;
    flex-direction: column;
    width: calc(100%);
}

.header > div {
    width: calc(100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location-name {
    width: calc(100%);
    font-size: 2.525rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.location-name > p {
    text-align: center;
    width: calc(100%);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform: translateX(12px);

}

.current-temp {
    font-size: 5.525rem;
    margin-bottom: -24px;
    margin-top: -32px;
    transform: translateX(12px);
}

.current-conditions  {
    font-weight: bold;
}


.current-condition {
    opacity: 80%;
}

.min-max-temps {
    display: flex;
    gap: 8px;
    margin-top: -6px;
}
 
.weather-content {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: 1fr;
  grid-auto-rows: minmax(0, 215px);
  grid-auto-flow: row dense;
  gap: 16px;
}

.twenty-four-forecast {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 8px 16px;
  grid-column: 1 / -1;
  background: var(--background-color);   
  backdrop-filter: blur(20px);           
  -webkit-backdrop-filter: blur(20px);   
  border: var(--shadow);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.description {
  flex-grow: 1;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 4px;
}

.hour-data {
  width: calc(100%);
  display: flex;
  gap: 32px;
  padding-top: 4px;
  overflow-x: hidden;
  cursor: grab;
}

.forecast-hour{
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  user-select: none;
}

.forecast-hour-temp {
  font-size: large;
}

.upcoming-forecast {
  display: flex;
  flex-direction: column;
  background: var(--background-color);   
  backdrop-filter: blur(20px);           
  -webkit-backdrop-filter: blur(20px);   
  border: var(--shadow);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 8px 16px;
  grid-column: span 2;
  grid-row: span 2;
}

.forecast-title {
  display: flex;
  gap: 4px;
  font-weight: bold;
  font-size: 0.85rem;
  padding-bottom: 4px;
}

.header-icon {
  width: 20px;
  height: 20px;
}

.day-data {
  display: flex;
  flex-direction: column;
}

.forecast-day {
  border-top: 1px solid var(--border-color);
  display: flex;
  gap: 32px;
  font-weight: bold;
  padding: 8px 0px;
  position: relative;
}

.forecast-day-time {
  width: 48px;
}

.forecast-day-temps {
  flex-grow: 1;
  display: flex;
  gap: 8px;
}

.forecast-day-temps> div:not(:nth-child(2))
{
  width: 32px;
}

.forecast-day-icon {
  position: relative;
}


.icon-precipitation {
  position: relative;
  top: -6px;
}

.precip-probability {
  position: absolute;
  left: -1.5px;
  font-size: 0.75rem;
  top: 14px;
  font-weight: bold;
}


.temp-slider {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.temp-slider>input {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  background-color: var(--background-color);
  opacity: 0.7;
  outline: none;
  border-radius: 8px;
  box-shadow: var(--shadow);
}

.temp-slider>input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 8px;
  background-color: var(--text);
  border-radius: 8px;
}

.air-slider>input {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  background: linear-gradient(90deg,
  rgb(0, 226, 0) 5%, 
  yellow 15%,
  orange 25%, 
  red 35%, 
  rgb(140, 5, 230) 50%, 
  #770707 75%);
  opacity: 0.7;
  outline: none;
  border-radius: 8px;
  box-shadow: var(--shadow);
}

.air-slider>input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: var(--text);
  border-radius: 50%;
  border: 2px solid var(--background-color);
}

.air-value,.uv-value,.sun-value, .precipitation-value, .visibility-value, .humidity-value, .average-value, .pressure-value {
  font-size: 2rem;
  font-weight: bold;
}

.air-desc,.uv-desc, .precipitation-desc, .average-desc {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: -8px;
}

.precipitation-map,.air-quality, .feels-like, .uv-index, .wind, .sun, .precipitation, .visibility, .humidity, .moon, .average, .pressure{
  display: flex;
  flex-direction: column;
  background: var(--background-color);   
  backdrop-filter: blur(20px);           
  -webkit-backdrop-filter: blur(20px);   
  border: var(--shadow);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px ;
  padding: 8px 16px;
  grid-column: span 2;
}

.precipitation-title, .air-title, .feels-like-title, .uv-index-title, .wind-title, .sun-title, .visibility-title,.humidity-title, .moon-title, .average-title, .pressure-title{
  display: flex;
  gap: 4px;
  font-weight: bold;
  font-size: 0.85rem;
  padding-bottom: 4px;
}

.feels-like, .uv-index, .sun, .precipitation, .visibility, .humidity, .average, .pressure{
  grid-column: span 1;
}

.feels-like-temp {
  font-size: 2rem;
  font-weight: bold;
}

.feels-like-desc, .sun-title-desc, .visibility-desc, .humidity-desc, .average-values, .pressure-desc, .uv-warning, .precipitation-warning {
  margin-top: auto;
}

.uv-slider>input {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  background: linear-gradient(90deg,
  rgb(0, 226, 0)20%, 
  yellow 30%,
  orange 60%, 
  rgb(255, 0, 255) 80%);
  opacity: 0.7;
  outline: none;
  border-radius: 8px;
  box-shadow: var(--shadow);
}

.uv-slider>input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: var(--text);
  border-radius: 50%;
  border: 2px solid var(--border-color);
}

.uv-slider {
  margin-top: 8px;
}


.wind-data, .moon-data {
  display: flex;
  flex-direction: column;
  margin: 8px 0px;
}

.wind-data > div, .moon-data>div {
  display: flex;
  justify-content: space-between;
  padding: 8px 0px;
}

.wind-data>div:not(:nth-child(3)),.moon-data>div:not(:nth-child(3))  {
  border-bottom: 1px solid var(--border-color);
}

.wind-data > div > .text, .moon-data > div > .text  {
  font-weight: bold;
}

.average-values {
  display: flex;
  flex-direction: column;
}

.average-values > div {
  display: flex;
  justify-content: space-between;
}

.average-values > div > .text {
  font-weight: bold;
}

.average-values > div:nth-child(1)
{
  margin-bottom: -6px;
}

footer{
    display: flex;
    width: 100%;
    border-top: 1px solid var(--border-color);
    padding: 16px;
    justify-content: space-between;
    color: var(--text);
    fill: var(--text);
}

footer > div {
    display: flex;
    align-items: center;
}

.temperature-icons
{
  display: flex;
  gap: 4px;
  font-size: 20px;
  font-weight: bold;
}

.icon {
  height: 24px;
  width: auto;
  position: relative;
}

.menu > svg {
    transform: rotate(180deg);
    height: 32px;
    width: auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--background-color);
  opacity: 0.7;
  outline: none;
  box-shadow: var(--shadow);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.288);
  border-radius: 16px;
}
