*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  font-family: "Noto Sans Osage";
  font-weight: 700;
}

html {
  font-size: 100%;
} /* 16px */

h1 {
  font-size: 3.366rem; /* 53.92px */
}

h2 {
  font-size: 2.525rem; /* 40.32px */
}

h3 {
  font-size: 1.894rem; /* 30.24px */
}

h4 {
  font-size: 1.421rem; /* 22.72px */
}

h5 {
  font-size: 1.066rem; /* 17.12px */
}

small {
  font-size: 0.6rem; /* 9.6px */
}

#root,
#__next {
  isolation: isolate;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

main {
    width: 100%;
    flex-grow: 1;
}

footer{
    display: flex;
    position: sticky;
    width: 100%;
    border-top: 1px solid gray;
    padding: 16px;
    justify-content: space-between;
    background-color: rgb(240, 240, 240);
}

footer > div {
    display: flex;
    align-items: center;
}

.temperature-icons>svg:nth-child(2)
{
    margin: 0px -4px;
}

.icon {
    height: 24px;
    width: auto;
}

.menu > svg {
    transform: rotate(180deg);
    height: 32px;
    width: auto;
}
